[submodule "hexo-theme-next"]
	path = hexo-theme-next
	url = https://github.com/tttpeng/hexo-theme-next.git
[submodule "themes/next"]
	path = themes/next
	url = https://github.com/tttpeng/hexo-theme-next.git
